---
import Layout from "@/layouts/Layout.astro";
import UnicodeConverter from "@/components/UnicodeConverter";
import UnicodeArticle from "@/components/UnicodeArticle";

---
<Layout title="Unicode Converter" description="Unicode Converter - Copy and Paste Blank Character">
    <main class="space-y-12 py-2 container mx-auto">
        <h1 class="text-3xl font-bold py-6 text-center">Unicode Converter</h1>
        <UnicodeConverter />
        <UnicodeArticle />
    </main>
</Layout>